.location {
  background-color: #EEE;
  border-radius: 5px;
}

.loc {
  display: inline-block;
  background-color: white;
  border-radius: 5px;
  margin: 10px;
  width: 330px;
  text-align: center;
}

.latitude {
  float: right;
}

.google-map-container {
  text-align: center;
}

#map_canvas {
  height: 400px;
  background-color: #EEE;
  border-radius: 5px;
}

.vertical-align {
  padding-top: 160px;
}

.error-message {
  width: 100%;
  background-color: crimson;
  color: white;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 5px;
}