.location {
  background-color: #EEE;
  border-radius: 5px;
}

.loc {
  display: inline-block;
  background-color: white;
  border-radius: 5px;
  margin: 10px;
  width: 330px;
  text-align: center;
}

.latitude {
  float: right;
}

.google-map-container {
  text-align: center;
}

#google-map {
  padding: 20px;
}